body {
    padding: 0;
    background-color: #ccc;
}

#content {
    width: 920px;
    height: 100%;
    border: 1px solid #aaa;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #fff;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
}

#left {
    width: 20%;
}

#right {
    width: 20%;
    text-align: right;
}

#canvas {
    border: 1px solid #000;
}

#canvas.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

img {
    cursor: hand;
}

img.map {
    display: none;
}

#info {
    position: absolute;
    border: 1px solid black;
    background-color: #f8f8cb;
    max-width: 200px;
}

.hide {
    display: none;
}

.show {
    display: inline;
}